<!DOCTYPE html>
<html>
  <head>
    <title>Jovian Career</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
      #banner {
         width:100%;
        height:360px;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
       <h1 class="text-center mt-4">Jovian Careers</h1>
        <img class="img-fluid mt-4" id="banner" src="https://flask-tutorial-1--ccode25.repl.co/static/banner1.jpg">
       <h2 class="text-center mt-4">About Jovian</h2>
         <p class="lead mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu volutpat odio facilisis mauris sit amet massa. In mollis nunc sed id semper risus in. Facilisis gravida neque convallis a cras semper auctor neque. Odio facilisis mauris sit amet massa vitae tortor.</p>
      <h2 class="text-center">Open Positions</h2>
        <div>
          {% for job in jobs %}
            {% include 'jobitem.html' %}
          {% endfor %}
        </div>
        <div class="text-center mt-4">
          <button class="btn btn-primary btn">Contact us</button>
            <p class="mt-4">Copy right 2023</p>
        </div>
    </div>
  </body>
</html>